body {
    padding-top: 65px;
    height: 100%;
}

svg {
    padding: 15px 15px 15px 15px;
}

.navbar {
    background-color: #E6007A;
}

#event_updates {
    background-color: #222222;
    height: 90vh;
    width: 100%;
    padding: 10px;
}

#graphic {
    height: auto;
    width: 100%;
}